<!-- @{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->

<p style="font-size: 150%">
    At Mama Jane Pizza, we are always ready to listen to your concerns and suggestions on how we can improve our services so we can serve you better.
   <br/>
    <br/>

    <h3>For further inquires:</h3>
</p>

<address style="font-size: 100%">
    1900 North Roan Street<br />
    Johnson city, TN 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    423.555.0100
</address>

<br/>


<address>
    <strong>Customer Representative :</strong> <a href="mailto:Support@example.com">Support@mamajane.com</a><br />
    <strong>Suggestions:</strong> <a href="mailto:Marketing@example.com">Suggest@mamajane.com</a>
</address>
<br/>


<h4> Thank you for you patronage! </h4>