@model MamaJanePizza.Models.PizzaModel

@{
    ViewData["Title"] = "Confirm";
}

<h2>Confirmation</h2>

<div>
    <h4>Thank you for your order.</h4>
    <hr />
</div>
<div>
    <a asp-action="Index">Home</a>
</div>
